#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Thicker Table Borders */
.ant-table-wrapper .ant-table-bordered>.ant-table-container {
  border: 1.5px solid #d9d9d9 !important;
}

.ant-table-wrapper .ant-table-bordered .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-bordered .ant-table-tbody>tr>td {
  border-right: 1.5px solid #d9d9d9 !important;
  border-bottom: 1.5px solid #d9d9d9 !important;
}

.ant-table-wrapper .ant-table-bordered .ant-table-thead>tr>th:last-child,
.ant-table-wrapper .ant-table-bordered .ant-table-tbody>tr>td:last-child {
  border-right: none !important;
}

.ant-table-wrapper .ant-table-bordered .ant-table-tbody>tr:last-child>td {
  border-bottom: none !important;
}

/* Adjusting the shadow and border I added in inline styles previously to be consistent */
.ant-table {
  border-radius: 8px !important;
}