#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Tabelas modernas */
.ant-table-thead > tr > th {
  background: #e6f0ff !important;
  color: #1f3a63 !important;
  font-weight: 600;
}

.ant-table-tbody > tr:nth-child(even) > td {
  background-color: #f5f9ff !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: #e8f2ff !important;
}